/* .btn{
    background-color: blue;
    color: aquamarine;
    box-sizing: border-box;
}
.nav{
    background-color: coral;
    color: darkmagenta;
    border: 3rem;
    padding: 3px 4px;
    size: 5rem;
} */